.accomodation--container {
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px 50px;
    padding: 25px;
    border-radius: 25px;
}

.banner--container {
    text-align: center;
    position: relative;
    margin: 20px 0 43px 0;
}

.banner--title {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
    color: #FFFFFF;
    top: 35%;
    left: 26%;
}

.banner--img {
    border-radius: 25px;
    filter: brightness(60%);
    width: calc(100% - 200px);
}